<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teambell_3">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.android.permission.INTERNET" />
    <uses-permission android:name="android.permission.android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".MyApplication">
        <activity android:name=".MyGroupList"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AddGroup"
            android:screenOrientation="portrait"/>
        <activity android:name=".GroupRiding"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Join"
            android:screenOrientation="portrait"/>
        <activity android:name=".Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".PR_result"
            android:screenOrientation="portrait"/>
        <activity android:name=".HelpOK"
            android:screenOrientation="portrait"/>
        <activity android:name=".LocationOK"
            android:screenOrientation="portrait"/>
        <activity android:name=".PersonalOK"
            android:screenOrientation="portrait"/>
        <activity android:name=".ServiceOK"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonalRiding"
            android:screenOrientation="portrait"/>
    </application>

</manifest>